<div class="container">
  <div class="h1">Daily Challenge</div>
  <hr />

  <ul class="h2 list-unstyled">
    <li class="italic bold">Streak: 4 days</li>
    <li class="italic bold">Streak Bonus: * .4 </li>
    <li class="italic bold">Reward: 200 points x 1.4 (<span class="text-success">280</span>)</li>
  </ul>
  <hr />

  <div class="list-inline">
    <div class="text-secondary h2 list-inline-item">Help a classmate with a question/problem they have (you don't need to know the answer, just help!)</div>

    <div class="list-inline">
      <span class="list-inline-item">Send your classmate a confirmation link to claim your reward!</span><input class="list-inline-item" placeholder="classmate@institution.com" type="text" />
      <input class="list-inline-item" type="submit" value="Send Now!" />
    </div>
  </div>
</div>