<div class="h1">Welcome back Seeker!</div>
<hr />


<div class="h2 text-primary">Here are your reminders:</div>

<div class="h2 text-success">You're only 540 points from your next rank!</div>
<div class="h3">You have not finished today's daily challenge! Don't lose your 4 day streak!</div>
<div class="h3">You still have unfinished weekly challenges. Don't miss out!</div>