
<hr />


<div class="jumbotron" id="myDiv">
    <h1>Welcome back Seeker!</h1>
    <div class="h2 text-primary">Here are your reminders:</div>
    <div class="h2 text-success">You're only 540 points from your next rank!</div>
    <div class="h3">You have not finished today's daily challenge! Don't lose your 4 day streak!</div>
    <div class="h3">You still have unfinished weekly challenges. Don't miss out!</div>

    <img src="~/Content/images/map.png" style="width:100rem" />
    <p><a href="./Home/Challenges" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We can help you find out a way to out of this.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more support</h2>
        <p>This is the part you can discuss more detail about your course with your classmates.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See top groups gain</h2>
        <p>We have a list every week to show how every group working on their projects.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
