<div class="container">
  <div class="text-xl-center h1">Leaderboard</div>
  <hr />

  <div class="text-xl-center h1">Current Reward: Entire class leaves 30 minutes early this Friday!</div>
  <div class="text-xl-center h1">Deadline & board reset on: @DateTime.Now.AddDays(2).ToShortDateString()</div>
  <hr />

  <div class="row">
    <div class="text-xl-center col-lg-12">
      <div class="h2">Class 1</div>
      <div class="h3">Points: 10431</div>
    </div>
    <hr />

    <div class="text-xl-center col-lg-12">
      <div class="h2">Class 1</div>
      <div class="h3">Points: 9000!!!</div>
    </div>
    <hr />

    <div class="text-xl-center col-lg-12">
      <div class="h2">Class 1</div>
      <div class="h3">Points: 7754</div>
    </div>
    <hr />

    <div class="text-xl-center col-lg-12">
      <div class="h2">Class 1</div>
      <div class="h3">Points: 6743</div>
    </div>
    <hr />

    <div class="text-xl-center col-lg-12">
      <div class="h2">Class 1</div>
      <div class="h3">Points: 5124</div>
    </div>
  </div>
</div>