<div class="container">
    <div class="text-xl-center h1">Leaderboard</div>
    <hr />

</div>
<div class="alert alert-info" role="alert">
    
    <div class="text-xl-center h1">Current Reward: Entire class leaves 30 minutes early this Friday!</div>
    <div class="text-xl-center h1">Deadline & board reset on: @DateTime.Now.AddDays(2).ToShortDateString()</div>
</div>
<div class="row container-fluid">
    <div class="col-md-3">
        <div class="card h-100">
            <img src="https://loremflickr.com/300/200/cook/?lock=1" class="card-img-top img-rounded shadow" alt="...">
            <div class="card-body">
                <h5 class="card-title btn btn-success">Class1</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <strong class="text-muted">Points: 10431</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <img src="https://loremflickr.com/300/200/computer/?lock=2" class="card-img-top img-rounded shadow" alt="...">
            <div class="card-body">
                <h5 class="card-title btn btn-danger">Class2</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <strong class="text-muted">Points: 6743</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <img src="https://loremflickr.com/300/200/flower/?lock=5" class="card-img-top img-rounded shadow" alt="...">
            <div class="card-body">
                <h5 class="card-title btn btn-info">Class3</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <strong class="text-muted">Points: 5555</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <img src="https://loremflickr.com/300/200/flower/?lock=3" class="card-img-top img-rounded shadow" alt="...">
            <div class="card-body">
                <h5 class="card-title btn btn-dark">Class4</h5>
                <p class="card-text">This is a group card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <strong class="text-muted">Points: 5124</strong>
            </div>
        </div>
    </div>
</div>
