<div class="h1">Purchase Rewards</div>

<div class="h2">Unlock more when you reach Rank 3!</div>
<br />

<div class="h2">Classroom Perks</div>
<hr />

@foreach (HackathonMockup.Models.Reward reward in ViewBag.ClassroomRewards)
{
  @Html.Partial("_rewardPartial", reward)
}

<br />

<div class="h2">Forum Signatures</div>
<hr />

@foreach (HackathonMockup.Models.Reward reward in ViewBag.ForumRewards)
{
  @Html.Partial("_rewardPartial", reward)
}

<br />

<div class="h2">Avatar Accessories</div>
<hr />

@foreach (HackathonMockup.Models.Reward reward in ViewBag.AvatarRewards)
{
  @Html.Partial("_rewardPartial", reward)
}
