@model IEnumerable<HackathonMockup.Models.Achievement>

<div class="container">
  <div class="h1">Recent Achievements</div>
  <hr />

  @foreach (HackathonMockup.Models.Achievement achievement in Model)
  {
    @Html.Partial("_AchievementPartial", achievement)
    <hr />
  }
</div>

