<div class="container">
  <div class="h1">Recent Achievements</div>
  <hr />

  <div class="row text-success">
    <div>
      <div class="h2">Goal: Write a short essay on the SOLID principles in a way the a 5 year old could understand.</div>
      <div class="h3">Points Earned: 100</div>
      <div class="h3">Completed on: @DateTime.Now.AddDays(-1).ToShortDateString()</div>
    </div>
    <hr />

    <div class="row text-success">
      <div>
        <div class="h2">Goal: Place in the top 10 high scores on this weeks assignment.</div>
        <div class="h3">Points Earned: 200</div>
        <div class="h3">Completed on: @DateTime.Now.AddDays(-2).ToShortDateString()</div>
      </div>
      <hr />

      <div class="row text-success">
        <div>
          <div class="h2">Goal: Help a classmate solve a question/problem they have..</div>
          <div class="h3">Points Earned: 150</div>
          <div class="h3">Completed on: @DateTime.Now.AddDays(-3).ToShortDateString()</div>
        </div>
      </div>
      <hr />
