<div class="h1">Role Advancement</div>
<div class="h2">Unlock them all for happy feelings!</div>
<hr />

<div class="h2">Roles</div>
<hr />

<div class="h3">Advance to the next role for new perks & accessories Scout!</div>
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Explorer</div>
  <div class="list-inline-item">- 10000 Points</div>
  <input type="submit" value="To adventure!" class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3 text-success">
  <div class="list-inline-item">The Seeker</div>
  <div class="list-inline-item">- You are a seeker!</div>
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Leader</div>
  <div class="list-inline-item">- 50000 Points</div>
  <input type="submit" value="Follow me!" class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Captain</div>
  <div class="list-inline-item">- 30000 Points</div>
  <input type="submit" value="We will defeat this quiz!" class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Knower of Things</div>
  <div class="list-inline-item">- 100000 Points</div>
  <input type="submit" value="I know things..." class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Slayer of Pop Quizzes</div>
  <div class="list-inline-item">- 30000 Points</div>
  <input type="submit" value="Quiz takes critical damage!" class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Wizard</div>
  <div class="list-inline-item">- 30000 Points</div>
  <input type="submit" value="Fireball!" class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Baron</div>
  <div class="list-inline-item">- 40000 Points</div>
  <input type="submit" value="Fancy." class="list-inline-item">
</div>
<hr />
<br />

<div class="list-inline h3">
  <div class="list-inline-item">Warrior</div>
  <div class="list-inline-item">- 30000 Points</div>
  <input type="submit" value="This material does not stand a chance!" class="list-inline-item">
</div>
<hr />
<br />

