@model IEnumerable<HackathonMockup.Models.Achievement>

<hr />
<div class="list-inline text-xl-center">
  <div class="h1 list-inline-item"> @Html.ActionLink("Recently Completed", "ViewAchievements") - </div>
  <div class="h1 list-inline-item"> @Html.ActionLink("Not yet Completed", "ViewAchievements") - </div>
  <div class="h1 list-inline-item"> @Html.ActionLink("Next Rank Challenges", "ViewAchievements")</div>
</div>
<hr />

<div class="container">
  <div class="h1">Recent</div>
  <hr />

  @foreach (HackathonMockup.Models.Achievement achievement in Model)
  {
    @Html.Partial("_AchievementPartial", achievement)
    <hr />
  }
</div>

