@model HackathonMockup.Models.AvatarChange
  <div class="col-sm-4">
<ul class="list-unstyled">
  <li><img src="@Url.Content(@Model.ImageSource)" style="width:15rem" /></li>
  <li>@Ajax.ActionLink("Change Avatar", "Sidebar", new { avatarSource = Model.ImageSource }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "sbp" })</li>
</ul>
  </div>

