@model HackathonMockup.Models.Role

<div class="list-inline )">
  <div class="h2 list-inline-item @(Model.Obtained ? "text-success" : "text-secondary")">@Model.Name - </div>
  <input type="submit" class="h4 list-inline-item" value=@(Model.Obtained ? "Change" : Model.PurchaseText)>
</div>